body {
    background-image: url("./../images/contact.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color:antiquewhite
}

.mynavbar a
{
    color: antiquewhite  ;
}

.mynavbar a:hover {
    color: antiquewhite;
    font-weight: 500;
    background-color :rgb(103, 98, 134);
  }