
body {
        background-image: url("./../images/photo-1529101091764-c3526daf38fe.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }

/* Height for devices larger than 576px */
/* @media (min-width: 992px) { */
    /* #intro {
    margin-top: -58.59px;
    }
}

.navbar .nav-link {
    color: #fff !important;
} */
.mynavbar a
{
    color: gold  ;
}

.mynavbar a:hover {
    color: #312c51;
    font-weight: 500;
    background-color : #e4f7d2;
  }
