
body {
        background-image: url("./../images/photo-1529101091764-c3526daf38fe.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        color: antiquewhite;
    }

/* Height for devices larger than 576px */
/* @media (min-width: 992px) { */
    /* #intro {
    margin-top: -58.59px;
    }
}

.navbar .nav-link {
    color: #fff !important;
} */
.mynavbar a
{
    color: #312c51  ;
}

.mynavbar a:hover {
    color: antiquewhite;
    font-weight: 500;
    background-color : #312c51;
  }
.dp
{
    align-items: center;
    border: 7.5px solid antiquewhite;
}
.headertext
{
    text-align: center;
    color: antiquewhite;
    font-size: 30px;
}

.mycontainer
{
    background-color: rgb(49, 44, 81, 90%) ;
}