.mynavbar a
{
    color: antiquewhite  ;
}

.mynavbar a:hover {
    color: antiquewhite;
    font-weight: 500;
    background-color :rgb(103, 98, 134);
  }

  body
  {
      color: antiquewhite;
      background-color: rgb(49, 44, 81);
  }
  .mytable
  {
    color: antiquewhite;
    text-align: center;
  }